{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block subtitle %}Login Now{% endblock %}

{% block only-body %}

    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-soft-primary"></div>
                        <div class="card-body pt-4 pb-4" style="margin-top: 30px; padding: 30px;">
                            <div class="row align-content-center justify-content-center">
                                <div class="avatar-md profile-user-wid mb-4">
                                    <span class="avatar-title rounded-circle bg-light"
                                          style="margin-top: 30px; margin-bottom: 30px; padding: 15px;">
                                        <img src="{% static 'website/logo.png' %}" alt="Logo"
                                             class="rounded-circle"
                                             height="45">
                                    </span>
                                </div>
                            </div>

                            <div class="p-3 mt-3">
                                <p class="text-center text-muted">
                                    Welcome back! Please log in to continue.
                                </p>

                                <form class="login" id="login_form" method="POST" action="{% url 'account_login' %}">

                                    {% csrf_token %}
                                    <div class="mb-3">
                                        {{ form|crispy }}
                                    </div>

                                    {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}"
                                               value="{{ redirect_field_value }}"/>
                                    {% endif %}

                                    <div class="mt-4">
                                        <button class="btn btn-primary btn-block waves-effect waves-light"
                                                type="submit">Log In
                                        </button>
                                    </div>
                                </form>

                                <div class="mt-4 text-center">
                                    <p>
                                        <a href="{% url 'account_reset_password' %}" class="text-muted">
                                            <i class="mdi mdi-lock mr-1"></i> Forgot your password?
                                        </a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
