{% load static %}
<header class="header header-new">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                <span></span>
                <span></span>
                <span></span>
                </span>
                </a>
                <a href="{% url 'website:home' %}" class="navbar-brand logo">
                    <img src="{% static 'website/img/logo-icon.png' %}" class="img-fluid" alt="Logo">
                </a>
                <a href="{% url 'website:home' %}" class="navbar-brand logo-small">
                    <img src="{% static 'website/img/logo-icon.png' %}" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a href="{% url 'website:home' %}" class="menu-logo">
                        <img src="{% static 'website/img/logo.svg' %}" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);"> <i class="fas fa-times"></i></a>
                </div>
                <ul class="main-nav align-items-lg-center">
                    <li class="has-submenu megamenu active">
                        <a href="{% url 'website:home' %}">Home </a>
                    </li>
                    <li class="has-submenu">
                        <a href="{% url 'website:services' %}">Services</a>
                    </li>
                    <li class="nav-item has-submenu">
                        <a class="nav-link" href="{% url 'website:about' %}">About Us</a>
                    </li>
                    <li class="nav-item has-submenu">
                        <a class="nav-link" href="{% url 'website:blog-list' %}">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'website:become-a-provider' %}">Become a Provider</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'website:contact-us' %}">Contact</a>
                    </li>

                </ul>
            </div>
            <ul class="nav header-navbar-rht">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-linear-primary" href="{% url 'dashboard:dashboard' %}"
                        >Dashboard</a>
                    </li>
                {% else %}
                     <li class="nav-item">
                        <a class="nav-link btn btn-linear-primary" href="{% url 'account_login' %}"
                        ><i class="ti ti-user-filled me-2"></i>login</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
