{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}

{% block subtitle %}
    Withdrawal Request
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <p>
                <b>
                    <a href="{% url 'finance:withdrawal-list' %}">
                    <i class="fa fa-arrow-left"></i> back to withdrawals</a>
                </b>
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body p-4">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


