{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load core_tags %}

{% block subtitle %}
    Users List
{% endblock %}

{% block page_heading %} User List{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-12">
            <form method="get" id="search-form">
                <div class="input-group mb-3">
                    {{ user_filter_form }}
                    <button style="margin-left: 3px" class="btn btn-primary ms-3S" type="submit">
                        <i class="fa fa-search"></i> Search
                    </button>
                    <a style="margin-left: 2px" class="btn btn-danger" href="{% url 'services:services-list' %}">
                        <i class="fa fa-brush"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
    {% if object_list %}
        <div id="object-list" class="row">
            {% for user in object_list %}
                <div class="col-xl-3 col-sm-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="mb-4">
                                <img class="rounded-circle avatar-sm"
                                     src="
                                             {% if user.profile_image %}{{ user.profile_image.url }}{% else %}https://avatar.iran.liara.run/public?name={{ user.username|default:'User' }}{% endif %}"
                                     alt="">
                            </div>
                            <h5 class="font-size-15 mb-1"><a href="{% url 'users:user-detail' user.id %}"
                                                             class="text-dark">{{ user.username }}</a>
                            </h5>
                            {% if user.email %}
                            <p class="text-muted">{{ user.email }}</p>
                        {% else %}
                            <p class="text-muted">No Email</p>
                            {% endif %}

                            <ul>
                                <li class="badge {% if user.is_superuser %}bg-success{% else %}bg-danger{% endif %} font-size-11 m-1 text-white">
                                    SuperUser&nbsp;&nbsp;{% if user.is_superuser %}<i class="fa fa-check"></i>{% else %}
                                    <i class="fa fa-times"></i>{% endif %}</li>
                                <li class="badge {% if user.is_staff %}bg-success{% else %}bg-danger{% endif %} font-size-11 m-1 text-white">
                                    Staff&nbsp;&nbsp;{% if user.is_staff %}<i class="fa fa-check"></i>{% else %}
                                    <i class="fa fa-times"></i>{% endif %}</li>
                                <li class="badge {% if user.is_active %}bg-success{% else %}bg-danger{% endif %} font-size-11 m-1 text-white">
                                    Active&nbsp;&nbsp;{% if user.is_active %}<i class="fa fa-check"></i>{% else %}
                                    <i class="fa fa-times"></i>{% endif %}</li>
                            </ul>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'include/pagination.html' %}
    {% else %}
        <div class="card">
            <div class="card-body">
                <div id="noresult">
                    <div class="text-center py-4">
                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                   colors="primary:#405189,secondary:#0ab39c"
                                   style="width:75px;height:75px"></lord-icon>
                        <h5 class="mt-2">Sorry! No Result Found</h5>
                        <p class="text-muted mb-0">We've searched All Users in Database We did not find any Users
                            for you .</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}



{% endblock %}

{% block js_code %}


    <script>
        $(document).ready(function () {

            $('label').hide();
            $('input').addClass('form-control ms-3 ps-3');
            $('select').addClass('form-control');

        });
                $(document).ready(function () {
            const inputs = $(".input-group > div");

            inputs.css({
                display: "flex",
                flex: "1",
                marginRight: "10px",
            });

            inputs.last().css("marginRight", "0");

            $(".input-group").css({
                display: "flex",
                justifyContent: "space-between",
            });
        });
    </script>
{% endblock %}

{% block js %}
    {% include 'include/load_more.html' %}
{% endblock %}
