{% extends 'base.html' %}
{% load static %}
{% load core_tags %}

{% block subtitle %}
    {{ user.username }}
{% endblock %}


{% block page_heading %} User Detail {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    {# IMAGE DIV #}
                    <div class="text-center">
                        {% if user.profile_image %}
                            <img class="rounded-circle" src="{{ user.profile_image.url }}" height="150px"
                                 alt="user-image">
                        {% else %}
{#                            <img class="rounded-circle"#}
{#                                 src="https://avatar.iran.liara.run/public?name={{ user.username|default:'User' }}"#}
{#                                 height="150px" alt="no-user-image">#}
                            <img class="rounded-circle"
                                 src="https://placehold.co/400"
                                 height="150px" alt="no-user-image">
                        {% endif %}
                    </div>

                    {# NAME AND OTHER #}
                    <div class="text-center mt-2">
                        <h5 class="mb-0">
                            {{ user.get_full_name }} - ( {{ user.username }} )
                            {% if user.is_active %}
                                <i class="fa fa-check-circle text-success"></i>
                            {% endif %}
                        </h5>
                        <p class="fw-light text-muted mb-0">registered on > {{ user.date_joined }}</p>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-email"></i></p>
                            <p class="mb-0 text-center h5">Email</p>
                            <p class="mb-0 text-center">{{ user.email }}</p>
                        </div>
                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-phone"></i></p>
                            <p class="mb-0 text-center h5">Phone</p>
                            <p class="mb-0 text-center">{{ user.phone_number }}</p>
                        </div>
                        <div class="col text-center">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-shield-account"></i></p>
                            <p class="mb-0 text-center h5">Access Level</p>
                            <p class="mb-0 text-center">
                                <b>
                                    {% if user.is_superuser and user.is_staff %}
                                        Admin
                                    {% elif user.is_staff %}
                                        Staff
                                    {% else %}
                                        User
                                    {% endif %}
                                </b>
                            </p>
                        </div>
                        <div class="col text-center">
                            <p class="mb-0 text-center h3"><i class="mdi mdi-security"></i></p>
                            <p class="mb-0 text-center h5">Last Login</p>
                            <p class="mb-0 text-center">{{ user.last_login }}</p>
                        </div>

                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="fa fa-user-edit"></i></p>
                            <p class="mb-0 text-center h5">Profile</p>
                            <p class="mb-0 text-center">
                                <a href="{% url 'users:user-update' user.pk %}">Update</a>
                            </p>
                        </div>

                        <div class="col">
                            <p class="mb-0 text-center h3"><i class="fa fa-user-lock"></i></p>
                            <p class="mb-0 text-center h5">Password</p>
                            <p class="mb-0 text-center text-danger">
                                <a href="{% url 'users:user-password-reset-view' user.pk %}">Change</a>
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="fw-semibold">Company Information</h5>

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="col">Wallet Name</th>
                                <td scope="col"> {% if  user.get_service_provider_profile.company_name %}
                                    {{ user.get_service_provider_profile.company_name }}{% else %}Not
                                    Provided{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone Number:</th>
                                <td> {% if  user.get_service_provider_profile.phone_number %}
                                    {{ user.get_service_provider_profile.phone_number }}{% else %}Not
                                    Provided{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row">Website</th>
                                <td> {% if  user.get_service_provider_profile.website %}
                                    <a href="{{ user.get_service_provider_profile.website }}"> <i
                                            class="fa fa-globe"></i>&nbsp;Visit
                                        site</a>{% else %}Not
                                    Provided
                                {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Total Reviews</th>
                                <td><span
                                        class="badge badge-soft-success">{% if  user.get_service_provider_profile.total_reviews %}
                                    {{ user.get_service_provider_profile.total_reviews }}{% else %}Not
                                    Provided{% endif %}</span></td>
                            </tr>
                            <tr>
                                <th scope="row">Rating</th>
                                <td><span class="badge badge-soft-info">
                                    {% if  user.get_service_provider_profile.rating %}
                                        {{ user.get_service_provider_profile.rating }}{% else %}Not
                                        Provided{% endif %}
                                </span></td>
                            </tr>
                            <tr>
                                <th scope="row">Status</th>
                                <td>{% if  user.get_service_provider_profile.status %}
                                    {{ user.get_service_provider_profile.status }}{% else %}Not
                                    Provided{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row">Verified</th>
                                <td>{% if  user.get_service_provider_profile.verified %}
                                    {{ user.get_service_provider_profile.verified }}{% else %}Not
                                    Provided{% endif %}</td>
                            </tr>
                            <tr>
                                <th scope="row">Created at</th>
                                <td>{% if  user.get_service_provider_profile.created_at %}
                                    {{ user.get_service_provider_profile.created_at }}{% else %}Not
                                    Provided{% endif %}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Profile Card -->
        <div class="col-md-9 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-9">
                            <p class="mb-0  h5">User Biology: </p>
                            {% if user.bio %}
                                <p class="mb-0 mt-2">{{ user.bio }}</p>
                            {% else %}
                                <h6 class="mb-0 text-danger mt-2 ">User Bio Not Found</h6>
                            {% endif %}
                        </div>

                        <div class="col-md-3 p-0">
                            <a href="{% url 'wallet:user-wallet' user.wallet.pk %}" class="btn btn-success float-right">
                                <i class="fa fa-money-bill"></i> Wallet
{#                            </a>#}
                            <a href="#" class="btn btn-primary float-right" style="margin-right:5px;">
                                Baddies
                            </a>
                        </div>
                        <br>
                    </div>
                <div class="row" style="height: 10px;">
                   {# PLACEHOLDER #}
                    <hr>
                </div>
                    <!-- Social Media Section -->
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <h5><strong>Social Media:</strong></h5>
                            <div class="">
                                <div class="row">
                                    <div class="col-md-6">{% if user.service_provider_profile.social_media.facebook %}
                                        <a href="{{ user.service_provider_profile.social_media.facebook }}"
                                           target="_blank"
                                           title="Facebook">
                                            <img height="20px"
                                                 src="{% static 'core/images/socialmedia/facebook_5968764.png' %}">
                                            Facebook
                                        </a>
                                    {% endif %}</div>
                                    <div class="col-md-6">{% if user.service_provider_profile.social_media.instagram %}
                                        <a href="{{ user.service_provider_profile.social_media.instagram }}"
                                           target="_blank"
                                           title="Instagram">
                                            <img height="20px"
                                                 src="{% static 'core/images/socialmedia/instagram_2111463.png' %}">
                                            Instagram
                                        </a>
                                    {% endif %}</div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6">
                                        {% if user.service_provider_profile.social_media.twitter %}
                                            <a href="{{ user.service_provider_profile.social_media.twitter }}"
                                               target="_blank"
                                               title="Twitter">
                                                <img height="20px"
                                                     src="{% static 'core/images/socialmedia/twitter_5968830.png' %}">
                                                Twitter
                                            </a>
                                        {% else %}
                                            <span class="text-dark text-center">Not Provided</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6"> {% if user.service_provider_profile.social_media.linkedin %}
                                        <a href="{{ user.service_provider_profile.social_media.linkedin }}"
                                           target="_blank"
                                           title="LinkedIn">
                                            <img height="20px"
                                                 src="{% static 'core/images/socialmedia/linkedin_3536569.png' %}">
                                            LinkedIn
                                        </a>
                                    {% endif %}</div>
                                </div>


                            </div>

                        </div>

                        <!-- Interests Section -->
                        <div class="col-md-3">
                            <h5><strong>Interests:</strong></h5>
                            {% if user.service_provider_profile.interests.all %}
                                {% for interest in user.service_provider_profile.interests.all %}
                                    {{ interest.name }}{% if forloop.last %}.{% else %},{% endif %}
                                {% endfor %}
                            {% else %}
                                <div>No interests provided.</div>
                            {% endif %}
                        </div>

                        <div class="col-md-3 mb-3">
                            <h5><strong>Certifications:</strong></h5>
                            <ul class="list-unstyled">
                                {% for certification in user.service_provider_profile.certifications.all %}
                                    <li>
                                        {{ forloop.counter }}. {{ certification.certificate_name }}
                                        <a href="{{ certification.certificate_file.url }}"
                                           download="{{ certification.certificate_file.name }}"
                                           class="text-muted">
                                            <i class="fa fa-sm fa-download ms-2"></i>
                                        </a>
                                    </li>
                                {% empty %}
                                    <li>No certifications available.</li>
                                {% endfor %}

                            </ul>
                        </div>
                        <div class="col-md-3 mb-3">
                            <strong>Verified:</strong><br>
                            {% for emailaddress in user.emailaddress_set.all %}
                                {{ forloop.counter }}.
                                {% if emailaddress.verified %}
                                     <span class="badge badge-soft-success">{{ emailaddress.email }}</span>
                                {% else %}
                                     <span class="badge badge-soft-danger">{{ emailaddress.email }}</span>
                                {% endif %}
                                <br>
                            {% empty %}
                                <span class="text-dark">No email addresses available.</span>
                            {% endfor %}
                        </div>

                        <!-- Certifications Section -->
                    </div>

                    <!-- Status Section -->
                    <div class="row">
                        <div class="col-md-4">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

