{% extends 'vendor/base.html' %}
{% load crispy_forms_tags %}

{% block sub_title %}
    Bank Account Form
{% endblock %}

{% block content %}
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Paypal Form</h2>
            </div>
            <a href="{% url 'finance:payout-method' %}" class="btn btn-primary">
                <i class="text-muted material-icons md-arrow_back"></i>
                back
            </a>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-success text-white">
                                Save
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}