{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static %}

{% block subtitle %}
    Withdrawal Requests
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <form method="get">
                <div class="input-group mb-3">
                    {{ filter_form }}
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-search"></i> Search
                        </button>
                        <button class="btn btn-danger">
                            <i class="fa fa-paint-brush"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="row">
        {% if object_list %}
            {% for object in object_list %}

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body text-center position-relative">
                            <span class="position-absolute" style="top: 10px; right: 10px;font-size: 16px;">
                                {{ object.status|status_html|safe }}
                            </span>
                            <img src="{% static 'vendor/assets/images/core/paypal.png' %}" alt="paypal">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="mb-0">
                                <b>{{ object.account_holder_name }}</b>
                            </h4>
                            <p class="mb-0">
                                <a href="mailto:{{ object.email }}">{{ object.email }}</a>
                            </p>
                        </div>
                        <div class="card-body border-top text-center">
                            <b>
                                <a href="{% url 'finance:paypal-account-update' object.id %}">
                                    <i class="fa fa-check-circle"></i> Activation Center
                                </a>
                            </b>
                        </div>
                    </div>
                </div>

            {% endfor %}
        {% else %}

            <div class=" col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-danger">
                            <i class="fa fa-exclamation-circle"></i> &nbsp;
                            No withdrawal requests found
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="mt-4">
                <ul class="pagination">
                    {% if object_list.has_previous %}
                        <li>
                            <span>
                                <a href="{% relative_url object_list.previous_page_number 'page' request.GET.urlencode %}">
                                    Previous
                                </a>
                            </span>
                        </li>
                    {% endif %}
                    <li class="">
                        <span>Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</span>
                    </li>
                    {% if object_list.has_next %}
                        <li>
                            <span>
                                <a href="{% relative_url object_list.next_page_number 'page' request.GET.urlencode %}">
                                    Next
                                </a>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_code %}
    <script>
        $(document).ready(function () {
            $('select').addClass("form-control form-select");
            $('input').addClass("form-control");
            $('label').hide();

            $("#id_status option:first").text("-- Status --");
            $("#id_withdrawal_type option:first").text("-- Withdrawal --");

        })
    </script>
{% endblock %}


