{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block sub_title %}
    Manage Withdrawal Request
{% endblock %}

{% block content %}
    <section class="content-main">
        <div class="row justify-content-center">
            <div class="col-md-8 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12">
                                <h5>Withdrawal Details</h5>
                            </div>
                        </div>
                    </div>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-md-4"><strong>User:</strong></div>
                                <div class="col-md-8">{{ object.user }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4"><strong>Amount:</strong></div>
                                <div class="col-md-8">{{ object.amount }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4"><strong>Withdrawal Type:</strong></div>
                                <div class="col-md-8">{{ object.withdrawal_type }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4"><strong>Description:</strong></div>
                                <div class="col-md-8">{{ object.description|default:"No description provided" }}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4"><strong>Current Status:</strong></div>
                                <div class="col-md-8">
                                    {{ form.status }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4"><strong>Created At:</strong></div>
                                <div class="col-md-8">{{ object.created_at }}</div>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between mt-4">
                                <a href="{% url 'finance:_withdrawal-list' %}" class="btn btn-primary">
                                    <i class="material-icons md-arrow_back"></i>
                                    Back to Withdrawals
                                </a>
                                <button type="submit" class="btn btn-success text-white" id="submitBtn">
                                    <i class="material-icons md-save"></i> Save Changes
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js_code %}
{% endblock %}