{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load core_tags %}

{% block subtitle %}
    Transaction List
{% endblock %}

{% block page_heading %} Transaction List {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <form method="get" id="search-form">
                <div class="input-group mb-3">
                    {{ transaction_filter_form }}
                    <button style="margin-left: 3px" class="btn btn-primary ms-3S" type="submit">
                        <i class="fa fa-search"></i> Search
                    </button>
                    <a style="margin-left: 2px" class="btn btn-danger" href="{% url 'wallet:wallet-list' %}">
                        <i class="fa fa-brush"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>

    {% if object_list %}
        <div id="object-list" class="row">
            {% for transaction in object_list %}
                <div class="col-xl-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="favorite-icon">
                                <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
                            </div>

                            <h5 class="fs-17 mb-2">
                                <a href="javascript:void(0);" class="text-dark">
                                    Transaction #{{ transaction.id }}
                                </a>
                                <small class="text-muted fw-normal">({{ transaction.transaction_type }})</small>
                            </h5>

                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <p class="text-muted fs-14 mb-1">
                                        <b>Date: </b>{{ transaction.created_on|date:"d M Y" }}
                                    </p>
                                </li>

                                <li class="list-inline-item">
                                    <p class="text-muted fs-14 mb-0">
                                        <b>Amount: </b> {{ transaction.amount }}
                                    </p>
                                </li>
                                <br>

                                <li class="list-inline-item">
                                    <p class="text-muted fs-14 mb-0">
                                        <b>Fee: </b> {{ transaction.fee }}
                                    </p>
                                </li>

                                <li class="list-inline-item">
                                    <p class="text-muted fs-14 mb-0">
                                        <b>Payment Type: </b> {{ transaction.payment_type }}
                                    </p>
                                </li>

                                <li>
                                    <p class="text-muted">
                                        <b>Status: </b>
                                        <span class="badge text-white bg-{{ transaction.status|alert_type_class }}">
                                            {{ transaction.status }}
                                        </span>
                                    </p>
                                </li>
                            </ul>

                            <div class="mt-1 float-right hstack gap-2">
                                <span class="badge rounded-1 badge-soft-info">
                                    <small>Created On: </small>{{ transaction.created_on }}
                                </span>
                            </div>

                            <div class="mt-4 row gap-2">
                                <div class="col-md-6 mt-2">
                                    <a href="{% url 'users:user-detail' transaction.wallet.user.pk %}"
                                       class="btn btn-primary w-100">User</a>
                                </div>
                                <div class="col-md-6 mt-2">
                                    <a href="{% url 'wallet:user-wallet' transaction.wallet.pk %}"
                                       class="btn btn-success w-100">Wallet</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'include/pagination.html' %}

    {% else %}
        <div class="card">
            <div class="card-body">
                <div id="noresult">
                    <div class="text-center py-4">
                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                   colors="primary:#405189,secondary:#0ab39c"
                                   style="width:75px;height:75px"></lord-icon>
                        <h5 class="mt-2">Sorry! No Transactions Found</h5>
                        <p class="text-muted mb-0">We've searched the database and couldn't find any transactions.</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js_code %}
    <script>
        $(document).ready(function () {
            $('label').hide();
            $('input').addClass('form-control');
            $('select').addClass('form-control');
        });

        $(document).ready(function () {
            const inputs = $(".input-group > div");
            inputs.css({
                display: "flex",
                flex: "1",
                marginRight: "10px",
            });
            inputs.last().css("marginRight", "0");
            $(".input-group").css({
                display: "flex",
                justifyContent: "space-between",
            });
        });
    </script>
{% endblock %}

{% block js %}
    {% include 'include/load_more.html' %}
{% endblock %}
