{% extends 'base.html' %}
{% load static %}
{% load core_tags %}

{% block subtitle %}
    {{ user.username }}
{% endblock %}


{% block page_heading %} {{ wallet_user.username }}'s Transactions {% endblock %}

{% block content %}
    <div class="card shadow-lg">
        <div class="card-body pb-0">
            <div class="row">
                <div class="card-body p-2">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="table-light">
                            <tr>
                                <th class="border-top-0">ID</th>
                                <th class="border-top-0">Date</th>
                                <th class="border-top-0">Transaction Type</th>
                                <th class="border-top-0">Amount</th>
                                <th class="border-top-0">Status</th>
                                <th class="border-top-0">Payment Type</th>
                                <th class="border-top-0">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in object_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ object.created_at|date:"d M Y" }}</td>
                                    <td><span
                                            class="badge bg-warning-subtle text-success fs-11 fw-medium px-2">{{ object.transaction_type }}</span>
                                    </td>
                                    <td>{{ object.amount }}</td>
                                    <td>
                                        <span class="badge bg-warning-subtle text-warning fs-11 fw-medium px-2">{{ object.status }}</span>
                                    </td>
                                    <td class="text-end">{{ object.transaction_type }}</td>
                                    <td>
                                        <a href="{% url 'users:user-detail' object.user.pk %}"><i
                                                class="bx bx-user mr-2"></i></a>
                                        <a href="{% url 'wallet:user-wallet' object.user.wallet.pk %}"><i
                                                class="bx bx-wallet mr-2"></i></a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5">No transactions available.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!--end table-->
                    </div><!--end /div-->

                </div><!--end card-body-->
            </div>
            <div class="d-lg-flex justify-content-lg-between mt-2">
                <div>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                                <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" tabindex="-1">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock %}