{% extends 'base.html' %}
{% load static %}
{% load core_tags %}

{% block subtitle %}
    {{ user.username }}
{% endblock %}


{% block page_heading %} {{ user.username }}'s  Wallet {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-lg">
                <div class="card-body">
                    <div class="">
                        <h4 class="mt-1 mb-3">Total Amount: <span
                                class="text-dark">{{ object.total_amounts }}$</span></h4>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <p class="text-muted mb-1">Total Deposits: <b
                                        class="text-danger">{{ object.total_deposits }}$</b></p>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <p class="text-muted mb-1">Total Earnings: <b
                                        class="text-success">{{ object.total_deposits }}$</b></p>
                            </div>
                            <div class="col-sm-12">
                                <p class="text-muted mb-1">Total Withdrawals: <b
                                        class="text-danger">{{ object.total_withdrawals }}$</b></p>
                            </div>
                        </div>

                        <hr class="p-0 m-3">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <p class="text-muted mb-1">Balance Available: <b
                                        class="text-success">{{ object.balance_available }}$</b></p>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <p class="text-muted mb-1">Balance Pending: <b
                                        class="text-success">{{ object.balance_pending }}$</b></p>
                            </div>
                            <div class="col-md-12">
                                <p class="text-muted mb-1">Outstanding Charges: <b
                                        class="text-danger">{{ object.outstanding_charges }}$</b></p>
                            </div>
                        </div>

                        <hr class="p-0 m-3">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="mb-2">
                                    <i class="bx bx-shape-triangle font-size-16 align-middle text-dark me-1"></i>
                                    Connect Account Details:</h6>
                            </div>
                            <div class="col-12">
                                <table class="table table-bordered border-primary" style="border-color: black">
                                    <thead>
                                    <tr>
                                        <th>Field</th>
                                        <th>Amount</th>
                                        <th>Currency</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Balance</td>
                                        <td>{{ object.connect_available_balance }}</td>
                                        <td>{{ object.connect_available_balance_currency }}</td>
                                    </tr>
                                    <tr>
                                        <td>Pending Balance</td>
                                        <td>{{ object.connect_pending_balance }}</td>
                                        <td>{{ object.connect_pending_balance_currency }}</td>
                                    </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <p class="text-dark">
                                    <i class="bx bx-unlink font-size-16 align-middle text-dark me-1"></i>
                                    Stripe
                                </p>
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if object.is_stripe_connected %}
                                            <i class="text-success fa fa-check-circle me-1"></i> Connected
                                        {% else %}
                                            <i class="text-danger fa fa-times-circle me-1"></i> Not Connected
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        {% if object.is_stripe_account_active %}
                                            <i class="text-success fa fa-check-circle me-1"></i> Active
                                        {% else %}
                                            <i class="text-danger fa fa-times-circle me-1"></i> Inactive
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="card-body p-2">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="ms-3"> Recent Transactions </h4>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead class="table-light">
                                    <tr>
                                        <th class="border-top-0">ID</th>
                                        <th class="border-top-0">Date</th>
                                        <th class="border-top-0">Transaction Type</th>
                                        <th class="border-top-0">Amount</th>
                                        <th class="border-top-0">Fee</th>
                                        <th class="border-top-0">Status</th>
                                        <th class="border-top-0">Payment Type</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for object in object_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ object.created_on|date:"d M Y" }}</td>
                                            <td><span
                                                    class="badge bg-warning-subtle text-success fs-11 fw-medium px-2">{{ object.transaction_type }}</span>
                                            </td>
                                            <td>{{ object.amount }}</td>
                                            <td>{{ object.fee }}</td>
                                            <td>
                                                <span class="badge bg-warning-subtle text-warning fs-11 fw-medium px-2">{{ object.status }}</span>
                                            </td>
                                            <td class="text-end">{{ object.payment_type }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ object.created_on|date:"d M Y" }}</td>
                                            <td><span
                                                    class="badge bg-warning-subtle text-success fs-11 fw-medium px-2">{{ object.transaction_type }}</span>
                                            </td>
                                            <td>{{ object.amount }}</td>
                                            <td>{{ object.fee }}</td>
                                            <td>
                                                <span class="badge bg-warning-subtle text-warning fs-11 fw-medium px-2">{{ object.status }}</span>
                                            </td>
                                            <td>{{ object.payment_type }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ object.created_on|date:"d M Y" }}</td>
                                            <td><span
                                                    class="badge bg-warning-subtle text-success fs-11 fw-medium px-2">{{ object.transaction_type }}</span>
                                            </td>
                                            <td>{{ object.amount }}</td>
                                            <td>{{ object.fee }}</td>
                                            <td>
                                                <span class="badge bg-warning-subtle text-warning fs-11 fw-medium px-2">{{ object.status }}</span>
                                            </td>
                                            <td>{{ object.payment_type }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ object.created_on|date:"d M Y" }}</td>
                                            <td><span
                                                    class="badge bg-warning-subtle text-success fs-11 fw-medium px-2">{{ object.transaction_type }}</span>
                                            </td>
                                            <td>{{ object.amount }}</td>
                                            <td>{{ object.fee }}</td>
                                            <td>
                                                <span class="badge bg-warning-subtle text-warning fs-11 fw-medium px-2">{{ object.status }}</span>
                                            </td>
                                            <td>{{ object.payment_type }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ object.created_on|date:"d M Y" }}</td>
                                            <td><span
                                                    class="badge bg-warning-subtle text-success fs-11 fw-medium px-2">{{ object.transaction_type }}</span>
                                            </td>
                                            <td>{{ object.amount }}</td>
                                            <td>{{ object.fee }}</td>
                                            <td>
                                                <span class="badge bg-warning-subtle text-warning fs-11 fw-medium px-2">{{ object.status }}</span>
                                            </td>
                                            <td>{{ object.payment_type }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ object.created_on|date:"d M Y" }}</td>
                                            <td><span
                                                    class="badge bg-warning-subtle text-success fs-11 fw-medium px-2">{{ object.transaction_type }}</span>
                                            </td>
                                            <td>{{ object.amount }}</td>
                                            <td>{{ object.fee }}</td>
                                            <td>
                                                <span class="badge bg-warning-subtle text-warning fs-11 fw-medium px-2">{{ object.status }}</span>
                                            </td>
                                            <td>{{ object.payment_type }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ object.created_on|date:"d M Y" }}</td>
                                            <td><span
                                                    class="badge bg-warning-subtle text-success fs-11 fw-medium px-2">{{ object.transaction_type }}</span>
                                            </td>
                                            <td>{{ object.amount }}</td>
                                            <td>{{ object.fee }}</td>
                                            <td>
                                                <span class="badge bg-warning-subtle text-warning fs-11 fw-medium px-2">{{ object.status }}</span>
                                            </td>
                                            <td>{{ object.payment_type }}</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="5">No expenses available.</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <!--end table-->
                            </div><!--end /div-->
                            <div class="d-lg-flex justify-content-lg-between mt-3 mb-3">
                                    <div class="col-md-9"></div>
                                    <div class="col-md-3">
                                        <a href="#" class="btn btn-outline-primary">All Transactions</a>
                                    </div>
                            </div>
                        </div><!--end card-body-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
                                <div>
                                    <ul class="pagination mt-2">
                                        {% if expenses.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?page={{ expenses.previous_page_number }}">Previous</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" tabindex="-1">Previous</a>
                                            </li>
                                        {% endif %}

                                        {% for num in expenses.paginator.page_range %}
                                            <li class="page-item {% if expenses.number == num %}active{% endif %}">
                                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                            </li>
                                        {% endfor %}

                                        {% if expenses.has_next %}
                                            <li class="page-item">
                                                <a class="page-link"
                                                   href="?page={{ expenses.next_page_number }}">Next</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link" tabindex="-1">Next</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
