{% extends 'website/base.html' %}
{% load static %}



{% block content %}
    <div class="breadcrumb-bar text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Become a Provider</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item">Home</li>
                            <li class="breadcrumb-item active" aria-current="page">Become a Provider</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="breadcrumb-bg">
                <img src="{% static 'website/img/bg/breadcrumb-bg-01.png' %}" class="breadcrumb-bg-1" alt="Img">
                <img src="{% static 'website/img/bg/breadcrumb-bg-02.png' %}" class="breadcrumb-bg-2" alt="Img">
            </div>
        </div>
    </div>

    <div class="page-wrapper">
        <div class="content p-0">

            <div class="about-sec">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="about-img d-none d-md-block">
                                <div class="about-exp">
                                    <span>12+ years of experiences</span>
                                </div>
                                <div class="abt-img">
                                    <img src="{% static 'website/img/providers/provider-23.jpg' %}" class="img-fluid"
                                         alt="img">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-content">
                                <h3>Become A Service Provider</h3>
                                <p>Are you ready to elevate your services to new heights of success? Step into the realm
                                    of opportunity by becoming a valued service provider on FrentApp. Our platform
                                    isn't just another online directory – it's an expansive ecosystem filled with
                                    limitless potential. Join our thriving community of professionals and experts, and
                                    effortlessly connect with clients around the world. Whether you're a seasoned
                                    professional with years of industry experience or an ambitious newcomer eager to
                                    make your mark, FrentApp provides the ideal platform and essential tools to propel
                                    you towards unparalleled success.</p>
                                <p>At FrentApp, we empower service providers by offering a seamless experience,
                                    enabling you to focus on what you do best—delivering outstanding services. Our
                                    platform is designed to streamline every aspect of your business, from managing
                                    bookings and client communication to showcasing your expertise and building a
                                    reputable brand. With an intuitive interface and a suite of powerful tools at your
                                    disposal, you'll be well-equipped to attract new clients, retain loyal customers,
                                    and grow your service-based business like never before. Take the next step and join
                                    a community that values your craft and supports your journey towards success.</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul>
                                            <li class="text-truncate"><i
                                                    class="ti ti-circle-check-filled text-dark me-1"></i>Gain to Much
                                                Benifits
                                            </li>
                                            <li class="text-truncate"><i
                                                    class="ti ti-circle-check-filled text-dark me-1"></i>To Many Service
                                                Category Support
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul>
                                            <li class="text-truncate"><i
                                                    class="ti ti-circle-check-filled text-dark me-1"></i>
                                                A lots of Tools and Features Available
                                            </li>
                                            <li class="text-truncate"><i
                                                    class="ti ti-circle-check-filled text-dark me-1"></i> Easy To Use
                                                and Enhace your Experience
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <section class="work-section px-0 my-0 work-bg">
                <div class="work-bg-2 d-none d-md-block">
                    <img src="{% static 'website/img/bg/dotted.png' %}" alt="img" class="img-fluid">
                </div>
                <div class="work-bg-1 d-none d-md-block">
                    <img src="{% static 'website/img/bg/bg-13.png' %}" alt="img" class="img-fluid">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="section-heading">
                                <h2>How to Become a Service Provider</h2>
                                <p>A straightforward process designed to help you start offering your services and grow
                                    your business seamlessly.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 d-flex">
                            <div class="card work-box flex-fill">
                                <div class="card-body">
                                    <div class="work-icon">
                            <span>
                                <img src="{% static 'website/img/icons/about-hands.svg' %}" alt="img">
                            </span>
                                    </div>
                                    <h5>1. Sign Up</h5>
                                    <p>Create an account with your details to start the process. Fill in your
                                        professional information to get started.</p>
                                    <h4>01</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex">
                            <div class="card work-box flex-fill">
                                <div class="card-body">
                                    <div class="work-icon">
                            <span>
                                <img src="{% static 'website/img/icons/about-documents.svg' %}" alt="img">
                            </span>
                                    </div>
                                    <h5>2. Create Your Service Profile</h5>
                                    <p>Set up a professional service profile by detailing the services you offer, your
                                        rates, and availability.</p>
                                    <h4>02</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex">
                            <div class="card work-box flex-fill">
                                <div class="card-body">
                                    <div class="work-icon">
                            <span>
                                <img src="{% static 'website/img/icons/about-book.svg' %}" alt="img">
                            </span>
                                    </div>
                                    <h5>3. Start Offering Services</h5>
                                    <p>Once your profile is live, start offering services to customers. Accept bookings
                                        and grow your client base.</p>
                                    <h4>03</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


{% endblock %}