{% extends 'website/base.html' %}
{% load static %}

{% block content %}

    <div class="breadcrumb-bar text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Privacy Policy</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item">Home</li>
                            <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="breadcrumb-bg">
                <img src="{% static 'website/img/bg/breadcrumb-bg-01.png' %}" class="breadcrumb-bg-1" alt="Img">
                <img src="{% static 'website/img/bg/breadcrumb-bg-02.png' %}" class="breadcrumb-bg-2" alt="Img">
            </div>
        </div>
    </div>

    <div class="page-wrapper">
        <div class="content p-0">

            <div class="about-sec">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-10 col-md-8 col-sm-10 col-10 m-auto">
                            <div class="pb-4">
                                <p>Frent, LLC (“we”, “us”, or “our”) is committed to protecting your privacy.
                                    We have prepared
                                    this Privacy Policy (“Privacy Policy”) to describe to you our practices regarding
                                    the
                                    information that we
                                    collect from users on our software (“Software”) and the products and services
                                    offered
                                    through the Software
                                    (collectively, the “Services”).
                                    By accessing or using this Software, you acknowledge that you have read, understood,
                                    and
                                    agreed to be
                                    bound by this Privacy Policy. If you do not agree to this Privacy Policy, you should
                                    not
                                    use or access this
                                    Software. We reserve the right to revise this Privacy Policy at any time. You are
                                    encouraged to review the
                                    Privacy Policy each time you use the Software because your use of the Software after
                                    the
                                    posting of changes
                                    will constitute your acceptance of the changes. Agreement to this Privacy Policy
                                    also
                                    constitutes your
                                    agreement to the Frent Terms of Service (the “Terms”), which is
                                    incorporated herein.
                                </p>

                                <h3 class="mt-xl-5 mt-md-3 mt-2">Biometric Data
                                </h3>
                                <p>“Biometric Data” is considered any biometric identifiers and biometric information,
                                    including a retina or
                                    iris scan, fingerprint, voiceprint, or scan of hand or face geometry, regardless of
                                    how
                                    it is captured,
                                    converted, stored, or shared, which is used to identify an individual. The
                                    definition of
                                    Biometric Data may
                                    vary under different state laws.
                                </p>
                                <h3 class="mt-xl-5 mt-md-3 mt-2">Information Collected
                                </h3>
                                <p>When you consent to use our Services on our Software, you provide us your name,
                                    contact
                                    information,
                                    date of birth, and personal email address (“Personal Information”). In order to
                                    utilize
                                    the Services, you will
                                    have to allow the Software to create a biometric scan of your hand, which is
                                    included in
                                    the definition of
                                    “Biometric Date”. Frent does not collect, use, store, or disclose your
                                    Biometric Data without
                                    your consent. We may retain Personal Information on your behalf, such as emails that
                                    you
                                    send (including
                                    the content of the message and the recipient data), using your information.
                                </p>


                                <h3 class="mt-xl-5 mt-md-3 mt-2">Use of Your Personal Information
                                </h3>
                                <h4>General Use</h4>
                                <p>
                                    In general, Personal Information you submit to us is used either to respond to
                                    requests that
                                    you make, or aid us in serving you better.
                                </p>
                                <ul>
                                    We use your Personal Information in the following ways:
                                    <li>respond to comments, requests, and questions and provide customer service</li>
                                    <li>identify you as a user in our system</li>
                                    <li>provide, process, and deliver the Services you request</li>
                                    <li>improve the quality of experience when you interact with our Services</li>
                                    <li>send you administrative e-mail notifications</li>
                                    <li>resolve disputes and/or troubleshoot problems</li>
                                </ul>
                                <h4>User Feedback</h4>
                                <p>
                                    We may post user feedback on the Services from time to time. If you make any
                                    comments
                                    on a blog, social networking website, or forum associated with the Services, you
                                    should
                                    be
                                    aware that any
                                    information you submit there can be read, collected, or used by other users of these
                                    forums
                                    and could be
                                    used to send you unsolicited messages. We are not responsible for the information
                                    you
                                    choose
                                    to submit in
                                    these blogs and forums.
                                </p>

                                <h3 class="mt-xl-5 mt-md-3 mt-2">

                                    Disclosure of Information
                                </h3>

                                <h4>Biometric Data</h4>
                                <p>
                                    Unless otherwise required by law, your Biometric Data is accessible only to us and
                                    our
                                    service providers, which process your data only on our behalf to accomplish the
                                    purposes
                                    of our Software,
                                    which are to provide you with the Services. We do not share Biometric Data with any
                                    other third parties
                                    unless required by law. We do not sell, lease, trade, or otherwise profit from your
                                    Biometric Data. We may
                                    disclose your Biometric Data to our authorized service providers or other third
                                    parties
                                    if:
                                </p>
                                <ul>
                                    <li>You or your authorized representative consent to the disclosure;</li>
                                    <li>the disclosure completes a financial transaction requested or authorized by you
                                        or
                                        your authorized
                                        representative;
                                    </li>
                                    <li>the disclosure is required pursuant to a valid warrant, subpoena, or court order
                                        issued by a court of
                                        competent jurisdiction; or
                                    </li>
                                    <li>the disclosure is required by law.</li>
                                </ul>

                                <h4>Personal Information</h4>
                                <p>
                                    When you use the Services, we may share your Personal Information with third-party
                                    service providers to provide you with the Services, provide updates and technical
                                    support, and market
                                    the Services. Regardless of any choices you make regarding your Personal
                                    Information, we
                                    may disclose
                                    Personal Information if we believe in good faith that such disclosure is necessary:
                                </p>
                                <ul>
                                    <li>In connection with any legal investigation;</li>
                                    <li>to comply with relevant laws or to respond to subpoenas or warrants served on
                                        us;
                                    </li>
                                    <li>to protect or defend the rights or property of Frent or users of the
                                        Services; and/or
                                    </li>
                                    <li>to investigate or assist in preventing any violation or potential violation of
                                        the
                                        law, this Privacy
                                        Policy, or our Terms.
                                    </li>
                                </ul>

                                <h3 class="mt-xl-5 mt-md-3 mt-2">

                                    Your Rights Under the California Consumer Privacy Act (CCPA)
                                </h3>

                                <p>
                                    You have the right under the CCPA of 2018 and certain other privacy and data
                                    protection
                                    laws, as applicable, to exercise free of charge:
                                </p>

                                <h4>Disclosure of Personal Information We Collect About You</h4>
                                <p>
                                    You have the right to know:
                                </p>
                                <ol>
                                    <li>The categories of personal information we have collected about you;</li>
                                    <li>The categories of sources from which the Personal Information is collected;</li>
                                    <li>Our business or commercial purpose for collecting or selling Personal
                                        Information;
                                    </li>
                                    <li>The categories of third parties with whom we share Personal Information, if any;
                                        and
                                    </li>
                                    <li>The specific pieces of Personal Information we have collected about you.</li>
                                </ol>

                                <p>
                                    Please note that we are not required to:
                                </p>
                                <ol>
                                    <li>Retain any Personal Information about you that was collected for a single
                                        one-time
                                        transaction if,
                                        in the ordinary course of business, that information about you is not retained;
                                    </li>
                                    <li>Reidentify or otherwise link any data that, in the ordinary course of business,
                                        is
                                        not maintained in
                                        a manner that would be considered Personal Information; or
                                    </li>
                                    <li>Provide the Personal Information to you more than twice in a 12-month period.
                                    </li>
                                </ol>

                                <h4>Personal Information Sold or Used for a Business Purpose</h4>
                                <p>
                                    In connection with any Personal Information that we may sell or disclose to a third
                                    party for a business purpose, you have the right to know:
                                </p>
                                <ol>
                                    <li>The categories of Personal Information about you that we sold and the categories
                                        of
                                        third parties to
                                        whom the Personal Information was sold; and
                                    </li>
                                    <li>The categories of Personal Information that we disclosed about you for a
                                        business
                                        purpose.
                                    </li>
                                </ol>

                                <p>
                                    You have the right under the California Consumer Privacy Act of 2018 (“CCPA”) and
                                    certain other privacy
                                    and data protection laws, as applicable, to opt-out of the sale of your Personal
                                    Information. If you exercise
                                    your right to opt-out of the sale of your Personal Information, we will refrain from
                                    selling your Personal
                                    Information, unless you subsequently provide express authorization for the sale of
                                    your
                                    Personal
                                    Information.
                                </p>

                                <h4>Right to Deletion</h4>
                                <p>
                                    Subject to certain exceptions set out below, on receipt of a verifiable request from
                                    you, we will:
                                </p>
                                <ol>
                                    <li>Delete your Personal Information from our records; and</li>
                                    <li>Direct any service providers to delete your Personal Information from their
                                        records.
                                    </li>
                                </ol>

                                <p>
                                    Please note that we may not delete your Personal Information if it is necessary to:
                                </p>
                                <ol>
                                    <li>Complete the transaction for which the Personal Information was collected,
                                        fulfill
                                        the terms of
                                        a written warranty or product recall conducted in accordance with federal law,
                                        provide a good
                                        or service requested by you or reasonably anticipated within the context of our
                                        ongoing
                                        business relationship with you, or otherwise perform a contract between you and
                                        us;
                                    </li>
                                    <li>Detect security incidents, protect against malicious, deceptive, fraudulent, or
                                        illegal activity, or
                                        prosecute those responsible for that activity;
                                    </li>
                                    <li>Debug to identify and repair errors that impair existing intended functionality;
                                    </li>
                                    <li>Exercise free speech, ensure the right of another consumer to exercise her or
                                        his
                                        right of free
                                        speech, or exercise another right provided for by law;
                                    </li>
                                    <li>Comply with the California Electronic Communications Privacy Act;</li>
                                    <li>Engage in public or peer-reviewed scientific, historical, or statistical
                                        research in
                                        the public
                                        interest that adheres to all other applicable ethics and privacy laws, when our
                                        deletion of the
                                        information is likely to render impossible or seriously impair the achievement
                                        of
                                        such research,
                                        provided we have obtained your informed consent;
                                    </li>
                                    <li>Enable solely internal uses that are reasonably aligned with your expectations
                                        based
                                        on your
                                        relationship with us;
                                    </li>
                                    <li>Comply with an existing legal obligation; or</li>
                                    <li>Otherwise use your Personal Information, internally, in a lawful manner that is
                                        compatible with
                                        the context in which you provided the information.
                                    </li>
                                </ol>

                                <h4>Protection Against Discrimination</h4>
                                <p>
                                    You have the right to not be discriminated against by us because you exercised any
                                    of
                                    your rights under the CCPA. This means we cannot, among other things:
                                </p>
                                <ol>
                                    <li>Deny goods or services to you;</li>
                                    <li>Charge different prices or rates for goods or services, including through the
                                        use of
                                        discounts or
                                        other benefits or imposing penalties;
                                    </li>
                                    <li>Provide a different level or quality of goods or services to you; or</li>
                                    <li>Suggest that you will receive a different price or rate for goods or services or
                                        a
                                        different level or
                                        quality of goods or services.
                                    </li>
                                </ol>

                                <p>
                                    Please note that we may charge a different price or rate or provide a different
                                    level or
                                    quality of goods
                                    and/or services to you, if that difference is reasonably related to the value
                                    provided
                                    to our business by your
                                    Personal Information.
                                </p>


                                <h4>Choice/Opt-Out</h4>
                                <p>
                                    We want to communicate with you only if you want to hear from us. You may choose to
                                    stop
                                    receiving
                                    marketing emails by following the unsubscribe instructions included in these emails,
                                    updating your
                                    communications preferences on our Software, or contacting us directly. Please note,
                                    however, that as a user
                                    of the Services, you cannot opt-out of some administrative communications that are
                                    reasonably necessary
                                    to the Services, such as billing notifications.
                                </p>

                                <p>
                                    You have the right to access, update, and correct inaccuracies in your Personal
                                    Information in our custody
                                    and control, subject to certain exceptions prescribed by law. You may request
                                    access, an
                                    updating, or the
                                    correction of inaccuracies in other Personal Information in our custody or control
                                    by
                                    contacting us directly.
                                </p>

                                <h4>Retention and Storage</h4>
                                <p>
                                    We will collect, store, transmit, and protect your Biometric Data and other
                                    information
                                    using a reasonable
                                    standard of care that is at least as protective as the way we collect, store,
                                    transmit,
                                    and protect other
                                    confidential and sensitive Personal Information.
                                </p>
                                <p>
                                    Unless otherwise required by an order from a court of competent jurisdiction or
                                    applicable law, we will
                                    only retain Biometric Data until: (i) the Services for which the Biometric Data was
                                    collected have been
                                    satisfied, or (ii) for one (1) year following your last interaction with Frent,
                                    whichever occurs
                                    first, unless legally required to keep it for a different period.
                                </p>

                                <h4>Changes to This Privacy Policy</h4>
                                <p>
                                    We may revise this Privacy Policy from time to time, and if we make any material
                                    changes
                                    in the way we
                                    use your Personal Information, we will notify you by sending you an e-mail to the
                                    last
                                    e-mail address you
                                    provided to us and/or by prominently posting notice of the changes on the Software
                                    and
                                    updating the “Last
                                    Updated” date below. If we make any changes to this Privacy Policy, they will be
                                    effective upon the earlier
                                    of thirty (30) calendar days following our dispatch of an e-mail notice to you or
                                    thirty
                                    (30) calendar days
                                    following our posting of notice of the changes on the Software. Please note that at
                                    all
                                    times you are
                                    responsible for updating your Personal Information to provide us with your most
                                    current
                                    e-mail address. In
                                    the event that the last e-mail address that you have provided us is not valid, or
                                    for
                                    any reason is not capable
                                    of delivering to you the notice described above, our e-mail containing such notice
                                    will
                                    nonetheless
                                    constitute effective notice of the changes described in the notice. If you do not
                                    wish
                                    to permit changes in
                                    our use of your Personal Information, you must notify us prior to the effective date
                                    of
                                    the changes.
                                </p>
                                <p>
                                    Continued use of our Services following notice of such changes will indicate your
                                    acknowledgement of
                                    such changes and agreement to be bound by the terms and conditions of such changes.
                                </p>


                                <h4>
                                    Contact Us
                                </h4>
                                <p>
                                    Contact Us. Please send your feedback, comments, and requests for technical support
                                    by
                                    email
                                    at: <a href="mailto:support@Frent.com">support@Frent.com</a>
                                </p>
                                <p>Last updated: September 16, 2024</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}