{% extends 'website/base.html' %}
{% load static %}

{% block content %}

    <div class="breadcrumb-bar text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12">
                    <h2 class="breadcrumb-title mb-2">Terms and Condition</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item">Home</li>
                            <li class="breadcrumb-item active" aria-current="page">Terms and Condition</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="breadcrumb-bg">
                <img src="{% static 'website/img/bg/breadcrumb-bg-01.png' %}" class="breadcrumb-bg-1" alt="Img">
                <img src="{% static 'website/img/bg/breadcrumb-bg-02.png' %}" class="breadcrumb-bg-2" alt="Img">
            </div>
        </div>
    </div>

    <div class="page-wrapper">
        <div class="content p-0">

            <div class="about-sec">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-10 col-md-8 col-sm-10 col-10 m-auto">
                            <div class="pb-4">
                                <p>Frent, LLC, a Maine limited liability company (“we”, “us”, or “our”) owns
                                    and
                                    operates the software application (the “Software”) which provides users with hand
                                    recognition
                                    technology to identify a suitable gun size for each individual user (the
                                    “Services”).
                                    The Software
                                    and the Services are made available to you only under the following terms of service
                                    (the
                                    “Terms”).
                                </p>
                                <p>
                                    By accessing or using this Software, you acknowledge that you have read, understood,
                                    and
                                    agreed to be bound by these Terms of Service. If you do not agree to these Terms,
                                    you
                                    should
                                    not use or access this Software. We reserve the right to revise these Terms at any
                                    time.
                                    You are
                                    encouraged to review these Terms each time you use the Software because your use of
                                    the
                                    Software after the posting of changes will constitute your acceptance of the
                                    changes.
                                    Agreement
                                    to these Terms also constitutes your agreement to the Frent Biometric
                                    Privacy
                                    Policy (the “Privacy Policy”), which is incorporated herein.

                                </p>

                                <h3 class="mt-xl-5 mt-md-3 mt-2">Use of Software</h3>
                                <h4>Biometric Information Collection.</h4>
                                <p>The words of which the initial letter is capitalized have meanings defined under the
                                    following conditions. The following definitions shall have the same meaning
                                    regardless
                                    of whether they appear in singular or in plural.</p>
                                <h4>Definitions</h4>
                                <p>
                                    “Biometric Data” is considered any biometric identifiers and
                                    biometric information, including a retina or iris scan, fingerprint, voiceprint, or
                                    scan
                                    of hand or
                                    face geometry, regardless of how it is captured, converted, stored, or shared, which
                                    is
                                    used to
                                    identify an individual. In order to provide the Services, we must collect, store,
                                    and
                                    use Biometric
                                    Data. To the extent we collect, capture, or otherwise obtain Biometric Data relating
                                    to
                                    a user, we
                                    will inform the user that we are collecting, capturing, or otherwise obtaining the
                                    user’s Biometric
                                    Data. We will also inform the user of the storage and transmission of the user’s
                                    Biometric Data
                                    for the user’s use of the Services. By opting into the use of the Services, you are
                                    agreeing to and
                                    authorizing our use and transmission of the Biometric Data.
                                </p>
                                <p>
                                    We will not sell, lease, trade, or otherwise profit from user’s Biometric Data,
                                    except
                                    for the fees
                                    collected for use of the Services. We will not disclose or disseminate any Biometric
                                    Data to
                                    anyone other than the user unless such disclosure is required by state or federal
                                    law or
                                    municipal
                                    ordinance or such disclosure is required pursuant to a valid warrant or subpoena
                                    issued
                                    by a court
                                    of competent jurisdiction.
                                </p>
                                <p>
                                    We shall retain user’s Biometric Data until the Services are complete or for 1 year
                                    following the
                                    user’s last interaction with Frent. We will use a reasonable standard of
                                    care to store,
                                    transmit, and protect from disclosure any paper or electronic biometric data
                                    collected.
                                </p>
                                <h4>Registration</h4>
                                <p>
                                    In order to use our Services, you will have to provide certain personal and
                                    financial
                                    information as prompted by the Software. You represent and warrant that all required
                                    registration
                                    information you submit is truthful and accurate. You agree to immediately notify us
                                    of
                                    any
                                    unauthorized use, or suspected unauthorized use of your information or any other
                                    breach
                                    of
                                    security. We cannot and will not be liable for any loss or damage arising from your
                                    failure to
                                    comply with the above requirements.
                                </p>
                                <h4>Access to the Services</h4>
                                <p>
                                    Subject to these Terms, we grant you a limited, non-exclusive,
                                    nontransferable personal license to access and use the Software. We reserve the
                                    right,
                                    in
                                    our sole
                                    discretion and without notice to you, to revise the Services available on the
                                    Software
                                    and
                                    to
                                    change, suspend, or discontinue any aspect of the Software. We may also impose rules
                                    for
                                    and
                                    2
                                    limits on use of the Software or restrict your access to part, or all, of the
                                    Software
                                    without notice
                                    or penalty.
                                </p>
                                <h4>Termination of Service</h4>
                                <p>We may terminate the Services at any time and such termination shall
                                    be effective immediately. You may terminate the Services by providing us with sixty
                                    (60)
                                    days
                                    written notice of intent to terminate. If the termination is due to a material
                                    breach by
                                    us, you
                                    must provide written notice of the breach and allow a thirty (30) day cure period.
                                    If
                                    the Services
                                    are terminated before the end of the then-current term (unless the termination was
                                    due
                                    to a
                                    material breach by Frent), any outstanding and future payments due to us
                                    shall
                                    become immediately due and payable. If you opted for an annual payment of any fees,
                                    no
                                    refund
                                    will be issued in the event of early termination.
                                </p>

                                <br>
                                <h3 class="mt-xl-5 mt-md-3 mt-2">

                                    Disclaimers, Limitations, and Exclusions of Liability
                                </h3>
                                <h4>
                                    Disclaimer
                                </h4>
                                <p>
                                    The information contained in the Software is provided for informational purposes
                                    only. We cannot guarantee the accuracy of the recommendations provided by the
                                    Software.

                                </p>

                                <h4>
                                    Limited Warranties
                                </h4>
                                <p>
                                    THE SOFTWARE, ALL INFORMATION, CONTENT, MATERIALS,
                                    AND SERVICES RELATED TO THE FOREGOING, AND THE SERVICES RECEIVED BY
                                    YOU ARE PROVIDED “AS IS” AND “AS AVAILABLE” AND TO THE FULLEST EXTENT
                                    PERMISSIBLE UNDER APPLICABLE LAW. WE AND OUR AFFILIATES DISCLAIM ALL
                                    WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, ANY
                                    WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
                                    PURPOSE. APPLICABLE LAW MAY NOT ALLOW THE EXCLUSION OF CERTAIN
                                    IMPLIED WARRANTIES, SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU. WE
                                    AND OUR AFFILIATES DO NOT WARRANT THAT YOUR USE OF THE SOFTWARE OR
                                    SERVICES WILL BE UNINTERRUPTED, ERROR-FREE, OR VIRUS FREE. WE DO NOT
                                    GUARANTEE THE SECURITY OF ANY INFORMATION TRANSMITTED TO OR FROM
                                    THE SOFTWARE OR SERVICES, AND YOU AGREE TO ASSUME THE SECURITY RISK
                                    FOR ANY INFORMATION YOU PROVIDE USING THE SOFTWARE OR SERVICES.

                                </p>

                                <h4>
                                    Limitation of Liability
                                </h4>
                                <p>
                                    USE OF OUR SOFTWARE AND/OR THE SERVICES RECEIVED
                                    BY YOU ARE AT YOUR OWN RISK. IN NO EVENT WILL WE OR OUR AFFILIATES BE
                                    LIABLE FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR SPECIAL
                                    DAMAGES IN CONNECTION WITH THESE TERMS, THE SOFTWARE, OR THE
                                    SERVICES, WHETHER OR NOT SUCH DAMAGES WERE FORESEEABLE AND EVEN IF
                                    WE WERE ADVISED THAT SUCH DAMAGES WERE LIKELY OR POSSIBLE. IN NO
                                    EVENT WILL OUR AGGREGATE LIABILITY TO YOU FOR ANY AND ALL CLAIMS
                                    ARISING IN CONNECTION WITH THESE TERMS, THE SOFTWARE, OR THE
                                    SERVICES EXCEED THE GREATER OF FIFTY DOLLARS (U.S. $50.00) OR THE
                                    AMOUNTS YOU HAVE PAID TO Frent IN THE PRIOR SIX (6)
                                    MONTHS HEREUNDER.
                                    YOU ACKNOWLEDGE THAT THIS LIMITATION OF LIABILITY IS AN ESSENTIAL
                                    TERM BETWEEN YOU AND US RELATING TO THE PROVISION OF THE SOFTWARE
                                    AND THE SERVICES TO YOU, AND WE WOULD NOT PROVIDE THE SOFTWARE OR
                                    SERVICES TO YOU WITHOUT THIS LIMITATION.

                                </p>

                                <h4>
                                    Indemnification
                                </h4>
                                <p>
                                    YOU AGREE TO INDEMNIFY, HOLD HARMLESS, AND DEFEND Frent, ITS SUBSIDIARIES,
                                    DIVISIONS, AND AFFILIATES, AND THEIR
                                    3
                                    RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, AND AFFILIATES
                                    FROM ANY AND ALL CLAIMS, LIABILITIES, DAMAGES, COSTS, AND EXPENSES OF
                                    DEFENSE, INCLUDING ATTORNEYS’ FEES, IN ANY WAY ARISING FROM OR
                                    RELATED TO YOUR ILLEGAL USE OF THE SOFTWARE, YOUR VIOLATION OF THESE
                                    TERMS OR THE PRIVACY POLICY, OR YOUR VIOLATION OF ANY LAW OR THE
                                    RIGHTS OF A THIRD PARTY.
                                </p>

                                <br>
                                <h3 class="mt-xl-5 mt-md-3 mt-2">

                                    Additional Terms
                                </h3>

                                <h4>
                                    Governing Law
                                </h4>
                                <p>
                                    These Terms will be governed by the laws of the State of Maine without giving
                                    effect to any conflict of law principles that may require the application of the law
                                    of
                                    another
                                    jurisdiction.
                                </p>

                                <h4>Disputes</h4>
                                <p>
                                    Any dispute relating in any way to your visit to or use of the Software, to the
                                    Services
                                    provided through the Software, or to your relationship with us will be submitted to
                                    confidential
                                    arbitration in Maine. You hereby consent to and waive all defenses of lack of
                                    personal
                                    jurisdiction and forum non conveniens with respect to, venue and jurisdiction in the
                                    state and
                                    federal courts of Maine. Arbitration under these Terms will be conducted pursuant to
                                    the
                                    Commercial Arbitration Rules then prevailing at the American Arbitration
                                    Association.
                                    The
                                    arbitrator’s award will be final and binding and may be entered into as a judgment
                                    in
                                    any court of
                                    competent jurisdiction. To the fullest extent permitted by applicable law, no
                                    arbitration under
                                    these Terms will be joined to an arbitration involving any other party subject to
                                    these
                                    Terms,
                                    whether through class action proceedings or otherwise. You agree that regardless of
                                    any
                                    statute
                                    or law to the contrary, any claim or cause of action arising out of, related to, or
                                    connected
                                    with the use of this Software or these Terms must be filed within one (1) year after
                                    such claim
                                    of action arose or be forever banned.
                                </p>
                                <h4>Modifications to Terms</h4>
                                <p>We may change these Terms from time to time. Any such changes will
                                    become effective upon the earlier of thirty (30) calendar days following our
                                    dispatch of
                                    an e-mail
                                    notice to you (if applicable) or thirty (30) calendar days following our posting of
                                    notice of the
                                    changes. These changes will be effective immediately for new users of our Software
                                    or
                                    Services.
                                    If you object to any such changes, your sole recourse will be to cease using the
                                    Software and the
                                    Services. Continued use of the Software or the Services following posting of any
                                    such
                                    changes
                                    will indicate your acknowledgement of such changes and your agreement to be bound by
                                    the
                                    revised Terms, inclusive of such changes.
                                </p>
                                <h4>Waiver; Remedies</h4>
                                <p>
                                    The failure of us to, partially or fully, exercise any rights or the waiver of any
                                    breach of these Terms by you will not prevent a subsequent exercise of such right by
                                    us
                                    or be
                                    deemed a waiver by us of any subsequent breach by you of the same or any other term
                                    of
                                    these
                                    Terms. The rights and remedies of us under these Terms and any other applicable
                                    agreement
                                    between you and us will be cumulative, and the exercise of any such right or remedy
                                    will
                                    not
                                    limit our right to exercise any other right or remedy.
                                </p>
                                <h4>
                                    Severability
                                </h4>
                                <p>
                                    If any provision or portion thereof of these Terms or its application in a
                                    particular
                                    circumstance is held to be invalid or unenforceable to any extent in any
                                    jurisdiction,
                                    such
                                    provision or portion thereof will, as to such jurisdiction only, be ineffective to
                                    the
                                    extent of such
                                    unenforceability, all other provisions, and portions thereof of these Terms will not
                                    be
                                    affected
                                    thereby and will be valid and enforced to the fullest extent permitted by law.
                                </p>
                                <h4>
                                    Entire Agreement
                                </h4>
                                <p>
                                    These Terms contain the final and entire agreement of the Parties and
                                    supersedes all previous and contemporaneous verbal or written negotiations,
                                    understandings, or
                                    agreements regarding the Term’s subject matter.

                                </p>
                                <h4>
                                    Contact Us
                                </h4>
                                <p>
                                    Contact Us. Please send your feedback, comments, and requests for technical support
                                    by email
                                    at: <a href="mailto:support@Frent.ai">support@Frent.ai</a>
                                </p>
                                <p>Last updated: Jan 16, 2024</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}